<!-- FOOTER   -->
<footer>
  <div class="playing">
    <div class="small-preview">
      <img src="./assets/img/sinister.jpg" alt="sinister-preview" />
    </div>
    <div class="description">
      <h5>Sinister</h5>
      <a href="#"><p>Brano Nome</p></a>
    </div>
    <div class="icons">
      <a href="#"><i class="far fa-heart"></i></a>
      <a href="#"><i class="far fa-folder"></i></a>
    </div>
  </div>
  <div class="controls">
    <div class="buttons">
      <a href="#"><i class="fas fa-random"></i></a>
      <a href="#"><i class="fas fa-step-backward"></i></a>
      <a href="#" id="play"><i class="far fa-play-circle"></i></a>
      <a href=""><i class="fas fa-step-forward"></i></a>
      <a href=""><i class="fas fa-redo"></i></a>
    </div>
    <div class="bar">
      <p>0:25</p>
      <form>
        <input
          type="range"
          name="progress-bar"
          min="0"
          max="100"
          step="5"
          value="10"
        />
      </form>
      <p>4:35</p>
    </div>
  </div>
  <div class="settings">
    <a href=""><i class="fas fa-list"></i></a>
    <a href="#"><i class="fas fa-desktop"></i></a>
    <a href="#"><i class="fas fa-volume-up"></i></a>
    <form>
      <input
        type="range"
        name="progress-bar"
        min="0"
        max="100"
        step="5"
        value="50"
      />
    </form>
  </div>
</footer>
