<!-- MAIN -->
<main>
  <!-- MENU -->
  <section class="nav-contents">
    <ul>
      <li>
        <a href="#"
          >in evidenza
          <hr
        /></a>
      </li>
      <li>
        <a href="#"
          >podcast
          <hr
        /></a>
      </li>
      <li>
        <a href="#"
          >classifiche
          <hr
        /></a>
      </li>
      <li>
        <a href="#"
          >generi e mood
          <hr
        /></a>
      </li>
      <li>
        <a href="#"
          >nuove uscite
          <hr
        /></a>
      </li>
      <li>
        <a href="#"
          >scopri
          <hr
        /></a>
      </li>
    </ul>
  </section>

  <!-- CONTENUTI -->
  <section>
    <div class="recently">
      <h1>Recently played</h1>
      <div class="previews">
        <div class="preview-titles">
          <div class="preview">
            <a href="#">
              <img
                src="../../../assets/images/Ocean-Hillsong.jpeg"
                alt="Ocean-Hillsong"
                height="222px"
                width="222px"
              />
            </a>
            <div class="overlay">
              <i class="far fa-play-circle"></i>
            </div>
          </div>
          <div class="titles">
            <h4>Ocean Hillsong</h4>
            <p>Remix Aaron kell</p>
          </div>
        </div>
        <div class="preview-titles">
          <div class="preview">
            <a href="#">
              <img
                src="../../../assets/images/avicii-Levels.jpg"
                alt="avicii-levels"
                height="222px"
                width="222px"
              />
            </a>
            <div class="overlay">
              <i class="far fa-play-circle"></i>
            </div>
          </div>
          <div class="titles">
            <h4>Avicii Levels</h4>
            <p>Original Sound Edit</p>
          </div>
        </div>
        <div class="preview-titles">
          <div class="preview">
            <a href="#">
              <img
                src="../../../assets/images/piaces-avaion.jpg"
                alt="piaces-avaion"
                height="222px"
                width="222px"
              />
            </a>
            <div class="overlay">
              <i class="far fa-play-circle"></i>
            </div>
          </div>
          <div class="titles">
            <h4>Piaces Avaion</h4>
            <p>House Music</p>
          </div>
        </div>
        <div class="preview-titles">
          <div class="preview">
            <a href="#">
              <img
                src="../../../assets/images/pompeii-bastille.jpg"
                alt="pompeii-bastille"
                height="222px"
                width="222px"
              />
            </a>
            <div class="overlay">
              <i class="far fa-play-circle"></i>
            </div>
          </div>
          <div class="titles">
            <h4>Pompeii Bastille</h4>
            <p>Relax Music</p>
          </div>
        </div>
        <div class="preview-titles">
          <div class="preview">
            <a href="#">
              <img
                src="../../../assets/images/Bad-Bunny-LA-NOCHE-DE-ANOCHE.jpg"
                alt="Bad-Bunny-LA-NOCHE-DE-ANOCHE"
                height="222px"
                width="222px"
              />
            </a>
            <div class="overlay">
              <i class="far fa-play-circle"></i>
            </div>
          </div>
          <div class="titles">
            <h4>Bad Bunny La Noche</h4>
            <p>La Noche de Anoche</p>
          </div>
        </div>
        <div class="preview-titles">
          <div class="preview">
            <a href="#">
              <img
                src="../../../assets/images/before-you-go-lewis.jpg"
                alt="before-you-go-lewis"
                height="222px"
                width="222px"
              />
            </a>
            <div class="overlay">
              <i class="far fa-play-circle"></i>
            </div>
          </div>
          <div class="titles">
            <h4>Before you go Lewis</h4>
            <p>Sad Music System</p>
          </div>
        </div>
      </div>
    </div>
    <div class="creato">
      <h1>Create for {{ this.user }}</h1>
      <p>More you listen, more accurate are your suggestions.</p>
      <div class="previews">
        <div class="preview-titles">
          <div class="preview">
            <a href="#">
              <img
                src="../../../assets/images/Ocean-Hillsong.jpeg"
                alt="Ocean-Hillsong"
                height="222px"
                width="222px"
              />
            </a>
            <div class="overlay">
              <i class="far fa-play-circle"></i>
            </div>
          </div>
          <div class="titles">
            <h4>Ocean Hillsong</h4>
          </div>
        </div>
        <div class="preview-titles">
          <div class="preview">
            <a href="#">
              <img
                src="../../../assets/images/pompeii-bastille.jpg"
                alt="pompeii-bastille"
                height="222px"
                width="222px"
              />
            </a>
            <div class="overlay">
              <i class="far fa-play-circle"></i>
            </div>
          </div>
          <div class="titles">
            <h4>Daily Mix 1</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="artisti">
      <h1>Popular Artists</h1>
      <p>More you listen, more accurate are your suggestions.</p>
      <div class="previews">
        <div class="preview-titles">
          <div class="preview">
            <a href="#">
              <img src="../../../assets/cover/hillsong.jpg" alt="hillsong" />
            </a>
            <div class="overlay">
              <i class="far fa-play-circle"></i>
            </div>
          </div>
          <div class="titles">
            <h4>Hillsong</h4>
          </div>
        </div>
        <div class="preview-titles">
          <div class="preview">
            <a href="#">
              <img src="../../../assets/cover/justin.jpg" alt="justin" />
            </a>
            <div class="overlay">
              <i class="far fa-play-circle"></i>
            </div>
          </div>
          <div class="titles">
            <h4>Justin Bieber</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="merits">
      <span>Made with ❤️ by {{ this.user }}</span>
    </div>
  </section>
</main>
